<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <input ng-model="todo.item" type="text" placeholder="Add quote here"></input>
          <input ng-model="todo.date" type="date" placeholder="Add due date here"></input>
          <button id="add" ng-click="todo.add(todo.item,todo.date)" type="submit" class="btn btn-primary btn-lg">Add!</button>
        </div>
      </div>
    </div>
  </div>
</div>
